body{
    background-color: black;
}
/* .card{
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.btn-teal{
    background-color: teal;
    border: none;
    border-radius: 20px;
}
.btn-orange{
    background-color: orange;
    border: none;
    border-radius: 20px;
}
.btn-purple{
    background-color: purple;
    border: none;
    border-radius: 20px;
} */

.card{
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.btn-teal{
    background-color: teal;
    color: #fff;
}
.btn-orange{
    background-color: orange;
    color: #fff;
}
.btn-purple{
    background-color: purple;
    color: #fff;
}
.btn-orange:hover{
    background-color: black;
}
.btn-teal:hover{
    background-color: black;
}
.btn-purple:hover{
    background-color: black;
}

